{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "class-methods-use-this": "off"
  }
}
