$spacer: 8px;
$spacer-1: $spacer / 2;
$spacer-2: $spacer;
$spacer-3: $spacer * 2;

$primary: #64e;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.game-wrapper {
  width: 100%;
  height: 100%;
}

body {
  font-family: monospace;
  background-color: #f0f0f0;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 560px;
  max-width: 95%;
  padding: $spacer * 12 0;
}

.game-top {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
}

.stats {
  display: flex;
  align-items: center;
  .btn-alt {
    margin-right: $spacer;
  }
}

.btn-alt {
  display: inline-block;
  padding: $spacer-2;
  border-radius: $spacer-1;
  background-color: #fff;
}

.wa {
  flex: 1;
  justify-content: end;
  display: flex;
  .btn-alt {
    margin-left: $spacer;
  }
}

.btn-wa {
  cursor: pointer;
  border: 0;
}

.game-container {
  flex: 1;
}

.game {
  display: block;
  border-radius: $spacer-1;
  background-color: #fff;
  padding: $spacer-3;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

#wordInput {
  display: block;
  border-radius: 2px;
  padding: $spacer-1 $spacer-2;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid #eee;
  background-color: #eee;
  margin-right: $spacer-2;
  &:focus {
    background-color: #fff;
    border-color: $primary;
  }
}

#restartButton {
  display: block;
  border-radius: 2px;
  padding: $spacer-1 $spacer-2;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid $primary;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
}

#words {
  display: block;
  width: auto;
  font-size: 14px;
  margin-bottom: $spacer-2;
}

.word {
  display: inline-block;
  padding: 2px 2px;
  margin: 2px 2px;
  border-radius: 2px;
}

.correct {
  color: #2b4;
}

.wrong {
  color: #e22;
}

.current {
  color: $primary;
}

.dd {
  position: relative;
}

.dd-btn {
  cursor: pointer;
}

.dd-content {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  right: 0;
  width: 140px;
  background-color: #fff;
  padding: $spacer-1 0;
  border-radius: $spacer-1;
  box-shadow: 0 2px 6px rgba(#000, 0.1);
  &.open {
    display: block;
  }
}

.dd-item {
  padding: $spacer-1 $spacer-2;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover,
  &.active {
    color: $primary;
  }
}

a {
  color: #000;
}

.game-footer {
  display: flex;
  align-items: center;
  a {
    margin-right: $spacer-2;
  }
}
