@import url("https://rsms.me/inter/inter.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
.game-wrapper {
  width: 100%;
  height: 100%; }

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif; }
  @supports (font-variation-settings: normal) {
    body {
      font-family: 'Inter var', sans-serif; } }

.game-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 560px;
  max-width: 95%;
  padding: 96px 0; }

.game-top {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }

.stats {
  display: flex;
  align-items: center; }
  .stats .btn-alt {
    margin-right: 8px; }

.btn-alt {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff; }

.wa {
  flex: 1;
  justify-content: end;
  display: flex; }
  .wa .btn-alt {
    margin-left: 8px; }

.btn-wa {
  cursor: pointer;
  border: 0; }

.game-container {
  flex: 1; }

.game {
  display: block;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px; }

.d-flex {
  display: flex; }

.flex-1 {
  flex: 1; }

#wordInput {
  display: block;
  border-radius: 2px;
  padding: 4px 8px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid #eee;
  background-color: #eee;
  margin-right: 8px; }
  @supports (font-variation-settings: normal) {
    #wordInput {
      font-family: 'Inter var', sans-serif; } }
  #wordInput:focus {
    background-color: #fff;
    border-color: #64e; }

#restartButton {
  display: block;
  border-radius: 2px;
  padding: 4px 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid #64e;
  background-color: #64e;
  color: #fff;
  cursor: pointer; }
  @supports (font-variation-settings: normal) {
    #restartButton {
      font-family: 'Inter var', sans-serif; } }

#words {
  display: block;
  width: auto;
  font-size: 24px;
  font-family: Times New Roman, Times, serif;
  margin-bottom: 8px; }

.word {
  display: inline-block;
  padding: 2px 4px;
  margin: 2px 0px;
  border-radius: 2px; }

.correct {
  color: #2b4; }

.wrong {
  color: #e22; }

.current {
  color: #64e;
  background-color: #eee; }

.dd {
  position: relative; }

.dd-btn {
  cursor: pointer; }

.dd-content {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  right: 0;
  width: 140px;
  background-color: #fff;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  .dd-content.open {
    display: block; }

.dd-item {
  padding: 4px 8px;
  display: block;
  width: 100%;
  cursor: pointer; }
  .dd-item:hover, .dd-item.active {
    color: #64e; }

a {
  color: #000; }

.game-footer {
  display: flex;
  align-items: center; }
  .game-footer a {
    margin-right: 8px; }
